body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90svh;
    font-size: large;
}

.form-container{
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}